<div class="about-container">
    <md-content>
        <p>An application for learning songs and their repetition.</p>
        <p>Sometimes you learn a song, but eventually you forget to repeat it and forget it.</p>
        <p>The application will remind you when the song was not played for a long time.</p>
        <p>Add links to tabs, notes or videos for which you learned the song and replenish your set of songs without forgetting the old songs</p>

        <p>
            <i>by</i>
            <a href="https://github.com/antonlegkiy">Anton Legkiy</a>
        </p>
    </md-content>
</div>
