<div class="add-song-btn">
    <add-song></add-song>
</div>

<div class="songs-list" ng-if="!vm.spinner">
    <md-content>
        <md-list flex>
            <md-subheader class="md-no-sticky">list of not played songs for a while</md-subheader>
            <md-divider></md-divider>
            <md-list-item class="md-3-line app-list-item"
                          ng-repeat="item in vm.songList"
                          md-colors="{'border-left-color': (item.mark ? item.mark : white)}"
                          ng-click="vm.onSelectedTab(item.link, item.id)">
                <div class="md-list-item-text list-text" layout="column">
                    <h3>{{ item.band }}</h3>
                    <h4>{{ item.song }}</h4>
                    <p>{{ item.tuning }}</p>
                    <p>{{ item.lastplayed }}</p>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
</div>

<div class="songs-list height90" ng-if="vm.spinner">
    <spinner enable="vm.spinner"></spinner>
</div>
