<form name="form"
      novalidate
      ng-submit="vm.onSignup(form)"
      ng-cloak>

    <md-dialog-content>
        <div class="md-dialog-content">
            <md-input-container class="md-block">
                <label for="name">Name</label>
                <input id="name"
                       name="name"
                       type="text"
                       ng-model="vm.user.name"
                       required>
            </md-input-container>

            <md-input-container class="md-block">
                <label for="lastName">Last Name</label>
                <input id="lastName"
                       name="lastName"
                       type="text"
                       ng-model="vm.user.lastName"
                       required>
            </md-input-container>

            <md-input-container class="md-block">
                <label for="email">Email</label>
                <input id="email"
                       name="email"
                       type="email"
                       ng-model="vm.user.email"
                       required>
            </md-input-container>

            <md-input-container class="md-block">
                <label for="password">Password</label>
                <input id="password"
                       name="password"
                       type="password"
                       ng-model="vm.user.password"
                       required>
            </md-input-container>

            <md-input-container class="md-block">
                <label for="rePassword">Repeat Password</label>
                <input id="rePassword"
                       name="rePassword"
                       type="password"
                       ng-model="vm.user.rePassword"
                       required>
            </md-input-container>
        </div>
    </md-dialog-content>

    <div class="md-dialog-content">
        <md-button ng-click="vm.showLogin()">or login</md-button>
    </div>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">
            Cancel
        </md-button>
        <button type="submit" md-button>
            Register
        </button>
    </md-dialog-actions>
</form>