<md-dialog aria-label="Add new song">
    <form name="form"
          novalidate
          ng-submit="onSaveTab(form)"
          ng-cloak>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>New Song</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block" md-is-error="form.band.$invalid && form.$submitted">
                    <label for="band">Band</label>
                    <input id="band"
                           name="band"
                           type="text"
                           ng-model="newSong.band"
                           required>
                </md-input-container>

                <md-input-container class="md-block">
                    <label for="song">Song name</label>
                    <input id="song"
                           name="song"
                           type="text"
                           ng-model="newSong.song"
                           required>
                </md-input-container>

                <md-input-container class="md-block">
                    <label for="link">Tabs link</label>
                    <input id="link"
                           name="link"
                           type="url"
                           ng-model="newSong.link">
                </md-input-container>

                <md-input-container class="md-block">
                    <label for="tuning">Tuning</label>
                    <input id="tuning"
                           name="tuning"
                           type="text"
                           ng-model="newSong.tuning"
                           required>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <button type="submit" md-button>
                Save
            </button>
        </md-dialog-actions>
    </form>
</md-dialog>