object {
    width: 100vw;
    height: 90vh;
}

.song-header {
    text-align: center;
}

.song-header h4 {
    color: grey;
}

.app-content .update-song-button {
    position: absolute;
    top: 0;
    left: 0;
}

.song-update-pending {
    display: inline-block;
    vertical-align: middle;
}